<div class="container text-center mt-5 mb-5">
  <h1 class="display-4 animate-fadeIn">¡Bienvenido a Mi Portafolio!</h1>
  <p class="lead animate-fadeIn">
    Explora mis proyectos, habilidades y experiencia como programador.
  </p>

  <!-- Sección para la presentación personal -->
  <div class="personal-section animate-slideIn">
    <h2>Hola, soy José Manuel Machado</h2>
    <!-- Foto de perfil -->
    <img
      src="assets/images/fotoperfil.png"
      alt="José Manuel Machado"
      class="profile-img animate-fadeIn mt-3"
    />
  </div>

  <a routerLink="/proyectos" class="btn btn-custom btn-lg mt-4 animate-fadeIn"
    >Explora Mis Proyectos</a
  >
  <app-sobre-mi></app-sobre-mi>
</div>
