<div class="container mt-5">
  <h2>Sobre Mí</h2>
  <p>
    Soy un desarrollador con experiencia en diversas tecnologías que me permiten
    crear aplicaciones web eficientes y efectivas. Aquí hay algunas de las
    tecnologías que manejo:
  </p>

  <div class="row text-center mt-4">
    <div class="col">
      <img
        src="assets\images\java-logo.png"
        alt="Java"
        class="img-fluid"
        width="80"
      />
      <h5>Java</h5>
    </div>
    <div class="col">
      <img
        src="assets/images/springboot-logo.png"
        alt="Spring Boot"
        class="img-fluid"
        width="80"
      />
      <h5>Spring Boot</h5>
    </div>
    <div class="col">
      <img
        src="assets/images/angular-logo.png"
        alt="Angular"
        class="img-fluid"
        width="80"
      />
      <h5>Angular</h5>
    </div>
    <div class="col">
      <img
        src="assets/images/mysql-logo.png"
        alt="MySQL"
        class="img-fluid"
        width="80"
      />
      <h5>MySQL</h5>
    </div>
    <div class="col">
      <img
        src="assets/images/html5-logo.png"
        alt="HTML"
        class="img-fluid"
        width="80"
      />
      <h5>HTML</h5>
    </div>
    <div class="col">
      <img
        src="assets/images/css-logo.png"
        alt="CSS"
        class="img-fluid"
        width="80"
      />
      <h5>CSS</h5>
    </div>
    <div class="col">
      <img
        src="assets/images/ts-logo.png"
        alt="TypeScript"
        class="img-fluid"
        width="80"
      />
      <h5>TypeScript</h5>
    </div>
  </div>
</div>
